<ion-view class="auth-view" cache-view="false">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            <span>สม้ครสมาชิก</span>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-clear button-light" ui-sref="app.shop.home">ข้าม</a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row related-navigation">
            <div class="col">
                <a class="nav-right button button-clear" ui-sref="auth.login">เข้าสู่ระบบ</a>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="signup_form" class="" novalidate ng-hide="address">
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="ชื่อ" name="first_name" ng-model="user.firstName" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="นามสกุล" name="last_name" ng-model="user.lastName" required>
                        </label>
                        <label class="item item-input">
                            <input type="email" placeholder="อีเมล์" name="email" ng-model="user.email" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="เบอร์โทร" name="tel" ng-model="user.address.tel" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="ชื่อผู้ใช้" name="username" ng-model="user.username" required>
                        </label>
                        <label class="item item-input" show-hide-container>
                            <input type="password" placeholder="รหัสผ่าน" name="password" ng-model="user.password" required show-hide-input>
                        </label>
                    </div>
                    <button type="submit" class="sign-up button button-block" ng-click="address = true" ng-disabled="signup_form.$invalid">
                        ถัดไป
                    </button>
                    <p ng-show="error" class="message error">{{error}}</p>
                </form>
                <form name="signup_form_address" class="" novalidate ng-show="address">
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="รหัสไปรษณีย์" name="postcode" ng-model="user.address.postcode" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="แขวง/ตำบล" name="subdistrict" ng-model="user.address.subdistrict" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="เขต/อำเภอ" name="district" ng-model="user.address.district" required>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="จังหวัด" name="province" ng-model="user.address.province" required>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">ที่อยู่</span>
                            <textarea class="width-70per" placeholder="ที่อยู่" name="address" ng-model="user.address.address" required></textarea>
                        </label>
                    </div>
                    <button type="submit" class="sign-up button button-block" ng-click="doSignUp()" ng-disabled="signup_form_address.$invalid">
                        สมัครสมาชิก
                    </button>
                    <p ng-show="error" class="message error">{{error}}</p>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
