<ion-view class="profile-likes" view-title="เปลี่ยนรหัสผ่าน">
    <ion-content>
        <div class="form-fields-outer list list-inset">
            <label class="item item-input">
                <span class="input-label">รหัสผ่านเดิม</span>
                <input type="password" name="currentPassword" ng-model="passwordDetails.currentPassword" required>
            </label>
            <label class="item item-input">
                <span class="input-label">รหัสผ่านใหม่</span>
                <input type="password" name="newPassword" ng-model="passwordDetails.newPassword" required>
            </label>
            <label class="item item-input">
                <span class="input-label">ยืนยันรหัสผ่าน</span>
                <input type="password" name="verifyPassword" ng-model="passwordDetails.verifyPassword" required>
            </label>
            <button type="submit" class="sign-up button button-energized button-block" ng-click="changePassword()" ng-disabled="!passwordDetails.currentPassword || !passwordDetails.newPassword || !passwordDetails.verifyPassword">
                ยืนยัน
            </button>
        </div>
    </ion-content>
</ion-view>
