<ion-view class="profile-likes" view-title="เปลี่ยนรูปโปรไฟล์">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" ui-sref="app.shop.sale">
            <i class="ion-ios-arrow-back color-gray font-30"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="form-fields-outer list list-inset">
            <div class="row slide-content">
                <div class="col col-center user-data">
                    <!-- We need a wrapper with width set for the preload image directive -->
                    <div class="user-image-outer">
                        <pre-img ratio="_1_1" helper-class="rounded-image">
                            <img class="user-image height-100per text-center" id="myImage" ng-src="{{loggedUser.profileImageURL}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <span class="badge badge-assertive icon-image bg-gray badge-cart position-absolute" ng-click="changeImageProfile()">
                                <i class="icon ion-ios-camera-outline font-30" ></i></span>
                    <h3 class="user-name text-center">คุณ {{loggedUser.displayName}}</h3>
                    <p class="user-resume">
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>