<ion-view ng-class="{'own-profile': myProfile}" class="profile-view" cache-view="false" view-title="Profile">
  <ion-content has-bouncing='false' class="profile-content" delegate-handle="profile-scroll">
    <div class="row profile-data thamma-style">
      <div class="col">
        <ion-slide-box class="profile-slides" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="user-image-outer">
                  <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="{{apiUrl}}{{loggedUser.profileImageURL}}" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="user-name">{{loggedUser.displayName}}</h2>
                <p class="user-resume">
                  <!--<b>{{user.followers}}</b> Followers &nbsp;&nbsp;<b>{{user.following}}</b> Following-->
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center user-data">
                <p class="user-resume">
                  {{user.about}}
                </p>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row user-interactions">
      <div class="col">
        <div class="row split-actions" ng-if="myProfile">
          <div class="col">
            <button class="button button-block icon-left ion-gear-a settings-button" ui-sref="app.settings">
              Settings
            </button>
          </div>
        </div>
        <div class="row split-actions">
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ng-class="{active: (tabs === 'H')}" nav-transition="none" ng-click="getHistory('H')" role="tab"><b>History</b></a>
            </p>
          </div>
          <div class="col user-interaction">
            <p>
              <a class="user-interaction-tab" ng-class="{active: (tabs === 'P')}" nav-transition="none" ng-click="getProfile('P')" role="tab"><b>Profile</b></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <ion-nav-view class="profile-sub-views" name="profileContent">
      <div class=" split-actions" ng-if="tabs === 'H'">
        <ion-list>
          <ion-item ng-repeat="item in items" ng-click="toggleItem(item)"  class="item item-text-wrap">
            <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
              <h2>หมายเลขสั่งซื้อ 123456789</h2>
              <p>31 December 2016</p>
              <p>คุณจะได้รับสินค้าภายใน 7 วัน นับจากวันที่สั่งซื้อ</p>
              <div class="row text-center">
                <div class="col col-33 padding-0">
                  <h2 class="no-background">
                    <span>
                      <i class="icon ion-social-dropbox font-30 color-gray "></i>
                    </span>
                  </h2>
                </div>
                <div class="col col-33 padding-0">
                  <h2 class="no-background">
                    <span>
                        <i class="icon ion-model-s font-30 color-gray "></i>
                    </span>
                  </h2>
                </div>
                <div class="col col-33 padding-0">
                  <h2 class="no-background">
                    <span>
                        <i class="icon ion-checkmark-circled font-30 color-gray "></i>
                    </span>
                  </h2>
                </div>
              </div>
              <p>docdate</p>
              <p>docdate</p>
              <p>docdate</p>
              <p>docdate</p>
            </div>
            <div class="item-expand-footer">
              <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i> {{ isItemShown(item)
              ? 'Less' : 'More' }}
            </div>
          </ion-item>

        </ion-list>
      </div>
      <div class="row split-actions" ng-if="tabs === 'P'">P</div>
    </ion-nav-view>
  </ion-content>
</ion-view>