<ion-view view-title="ลงทะเบียน" class="product-view" cache-view="false">
    <ion-nav-buttons side="right">
        <!--<a class="button button-icon" ui-sref="app.cart()">
            <i class="icon ion-ios-cart" ng-class="{'color-gray' : ('app.product-detail' | includedByState)}">
          <span class="badge badge-assertive badge-cart">{{countProduct.getCountProduct()}}</span>
          </i>
        </a>-->
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <div class="product-card-content">
            <div class="item item-image">
                <pre-img helper-class="main-image" ratio="_1_1">
                    <img ng-src="{{product.images}}" spinner-on-load>
                </pre-img>
            </div>
            <div class="item item-body">
                <div class="row">
                    <h2 class="product-title">{{campaign.name}}</h2>
                </div>
                <div class="row">
                    <div class="col-col-33">
                        <p>สินค้าที่ร่วมรายการ : {{product.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-body">
            <p class="product-description">ลงทะเบียนรับสิทธิ์</p>
            <div class="list" ng-if="step === '1'">
                <div class="col col-bottom">
                    <a class="button button-block button-energized checkout-btn" ui-sref="app.shop.salelogin({redirectUrl: 'app.shop.campaignproduct', campID:campaign._id, prodID:product._id})">
            เข้าสู่ระบบ
          </a>
                    <!--<ion-list>
                    <ion-radio ng-model="choice" ng-value="true" ui-sref="app.shop.salelogin({redirectUrl: 'app.shop.campaignproduct', campID:campaign._id, prodID:product._id})">เข้าสู่ระบบ</ion-radio>
                </ion-list>-->
                </div>
            </div>
            <div class="list" ng-if="step === '4'">
                <div class="margin-top-8">
                    <label class="item item-input">
                    <span class="input-label">รหัสบัตรประชาชน*</span>
                    <input type="text" ng-model="acceptCampaign.identification" maxlength="13" ng-change="chkNumber(acceptCampaign.identification)">
                </label>
                </div>
                <div class="margin-top-8">
                    <label class="item item-input">
                    <span class="input-label">Line ID</span>
                    <input type="text" ng-model="acceptCampaign.lineid">
                </label>
                </div>
                <div class="margin-top-8">
                    <label class="item item-input">
                    <span class="input-label">Facebook</span>
                    <input type="text" ng-model="acceptCampaign.facebook">
                </label>
                </div>
                <div class="margin-top-8 list">
                    <div class="item item-divider shop-section-title">
                        <span class="title-copy">กำหนดวันมารับสิทธิ์</span>
                    </div>
                    <label class="item item-input item-select">
                    <!--<input type="text" ng-model="acceptCampaign.identification">-->
                    <select ng-model="acceptCampaign.acceptcampaigndate" ng-options="marketplan.text for marketplan in marketplans">
                        <option value="">กรุณาระบุวันที่มารับสิทธิ์</option>
                    </select>
                    
                </label>
                </div>
                <div class="row padding ">
                    <button class="button button-block button-energized checkout-btn" ng-click="gotoForm('4')" ng-disabled="!acceptCampaign.identification || !acceptCampaign.acceptcampaigndate">
                        ดำเนินการต่อ
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>