<ion-view view-title="ตะกร้าสินค้าของคุณ" class="cart-view" cache-view="false">
    <!--FIX : blabk button-->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" ui-sref="app.shop.home" ng-hide="state">
            <i class="ion-ios-arrow-back font-30"></i>
        </button>
    </ion-nav-buttons>
    <!--FIX : blabk button-->
    <ion-content>
        <div ng-if="products.length == 0" ui-sref="app.shop.home">
            <div class="empty-cart">
                <i class="icon ion-ios-cart-outline"></i>
                <h3 class="no-products">คุณไม่มีสินค้าในตะกร้า ซ์้อเลย!!!</h3>
            </div>
        </div>
        <div ng-if="products.length > 0">
            <!---->
            <div class="item item-divider">
                <div class="row">
                    <div class="col col-50">ราคารวม</div>
                    <div class="col col-50 text-right">{{total}}</div>
                </div>
            </div>
            <div ng-repeat="product in products">
                <div class="products-list">
                    <div class="product-list-item">
                        <div class="row">
                            <span class="product-title">{{product.product.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="item cart-list item-thumbnail-left">
                        <div class="row">
                            <div class="col col-25">
                                <img ng-src="{{apiUrl}}{{product.product.images}}" style="width:100%;">
                            </div>
                            <div class="col col-50">
                                <div class="list">
                                    <div class="product-list-item">
                                        <div class="row">
                                            <p class="card-description">{{product.product.description}}</p>
                                        </div>
                                        <div class="row">
                                            <p class="card-description">{{product.product.price}}฿</p>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-left: 15px; margin-top:-16px;">
                                    <button class="button button-clear button-small button-assertive remove-product-button" ng-click="removeProductFromCart(product)">
                                        ยกเลิกสินค้า
                                    </button>
                                </div>
                            </div>
                            <div class="col col-25">
                                <div class="list">
                                    <label class="item item-input input-product-qty">
                                        <input type="number" ng-model="product.qty" ng-change="calculate(product)" placeholder="Last Name" />
                                    </label>
                                </div>
                                <span class="product-price">฿{{product.amount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row padding">
                <button class="button button-block button-energized checkout-btn" ng-click="getUserAndContinue()">
                    ดำเนินการต่อ
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>