<!--<style>.popover { height:300px; width: 300px; }</style>-->
<ion-view view-title="ข้อมูลการส่งสินค้า" class="checkout-view" ng-init="calculate()">
    <ion-nav-buttons side="right">
        <!--<a class="button button-icon" ui-sref="app.shop.cart">
            <i class="icon ion-ios-cart"><span class="badge badge-assertive badge-cart">{{countProduct.getCountProduct()}}</span></i>
        </a>-->
    </ion-nav-buttons>
    <ion-content>
        <!--address-->
        <div>
            <div class="item item-divider shop-section-title">
                <span class="title-copy">ที่อยู่ที่จะจัดส่ง</span>
            </div>
            <ion-toggle toggle-class="toggle-energized" ng-model="status" ng-change="checkStatus(status)">ใช้ที่อยู่เดิม</ion-toggle>
            <div class="item" ng-if="status">
                <p>{{user.address.address}} {{user.address.district}} {{user.address.subdistrict}}</p>
                <p>{{user.address.province}} {{user.address.postcode}}</p>
                <p>{{user.address.tel}}</p>
            </div>
        </div>
        <div class="list card" ng-if="!status">
            <div class="list">
                <label class="item item-input">
          <span class="input-label">ชื่อ*</span>
          <input type="text" ng-model="order.shipping.firstName">
        </label>
                <label class="item item-input">
          <span class="input-label">นามสกุล*</span>
          <input type="text" ng-model="order.shipping.lastName">
        </label>
                <label class="item item-input">
          <span class="input-label">รหัสไปรษณีย์*</span>
          <input type="number" ng-model="order.shipping.postcode" ionic-autocomplete="{items: postcodes, onSelect: onCheckOutPostcodeSelected, onDataInvalid: onCheckOutPostcodeInvalid}" />
        </label>
                <label class="item item-input">
          <span class="input-label">แขวง/ตำบล*</span>
          <input type="text" ng-model="order.shipping.subdistrict">
        </label>
                <label class="item item-input">
          <span class="input-label">เขต/อำเภอ*</span>
          <input type="text" ng-model="order.shipping.district">
        </label>
                <label class="item item-input">
          <span class="input-label">จังหวัด*</span>
          <input type="text" ng-model="order.shipping.province">
        </label>
                <label class="item item-input">
          <span class="input-label">ที่อยู่*</span>
          <input type="text" ng-model="order.shipping.address">
        </label>
                <label class="item item-input">
          <span class="input-label">เบอร์โทร*</span>
          <input type="text" ng-model="order.shipping.tel" maxlength="10" ng-change="chkShippingTel(order.shipping.tel)">
        </label>
            </div>
        </div>
        <!---->
        <!---->
        <div class="list">
            <div class="item item-divider shop-section-title">
                <span class="title-copy">วิธีการชำระเงิน</span>
            </div>
            <ion-list>
                <ion-radio ng-model="order.delivery.deliveryid" ng-value="'0'">
                    <p class="text-not-warp-history">สินค้าข้าวจ่ายเงินสดกับคนส่งข้าว </p>
                    <p class="text-not-warp-history">สินค้าอื่นโอนเงินก่อนและส่งใบโอนเงินทาง ไลน์@thamturakit </p>
                    <p class="text-not-warp-history">ธรรมธุรกิจ เทรดดิ้ง ธ.กรุงเทพ เอกมัย 063-0-368942 ธ.กสิกรไทย จามจุรี สแควร์ 020-1-875609 โอนแล้วแจ้งนะครับ</p>

                </ion-radio>
                <!--<ion-radio ng-model="order.delivery.deliveryid" ng-value="'1'">ส่งทางไปรษณีย์</ion-radio>-->
            </ion-list>
            <div class="item item-divider shop-section-title">
                <span class="title-copy">สรุปราคาสั่งซื้อ</span>
            </div>
            <div class="item row padding totals">
                <div class="col col-50">
                    <div class="row">ราคาสินค้า</div>
                    <div class="row">ค่าจัดส่ง</div>
                    <div class="row">ส่วนลด</div>
                </div>
                <div class="col col-50 totals-numbers text-right">
                    <div class="row">{{order.amount}} บาท</div>
                    <div class="row">{{order.deliveryamount}} บาท</div>
                    <div class="row">{{order.discountpromotion}} บาท</div>
                </div>
            </div>
            <div class="item item-divider shop-section-title">
                <span class="title-copy">ราคารวม</span>
                <span class="order-total-value section-action"><h2>฿{{order.totalamount}}</h2></span>
            </div>
            <div class="row padding">
                <button class="button button-block button-energized checkout-btn" ng-click="checkArea(status)" ng-disabled="!status && (!order.shipping.address || !order.shipping.province || !order.shipping.district || !order.shipping.postcode || !order.shipping.lastName || !order.shipping.firstName) || status && (!user.address.tel) || confirmedOrder">
          ดำเนินการต่อ
        </button>
            </div>
        </div>
        <div class="list card">
            <div class="list">
                <div class="item item-divider">
                    สรุปยอดการสั่งซื้อ
                </div>
                <a class="item item-avatar" ng-repeat="item in order.items">
                    <img ng-src="{{item.product.images}}">
                    <h2>{{item.product.name}} (฿{{item.product.price}})</h2>
                    <p>{{item.qty}} ชิ้น(฿{{item.amount + item.deliverycost - item.discountamount}})</p>
                </a>
            </div>
        </div>
    </ion-content>

    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar align-title="center" class="bar-balanced">
                <!--<div class="buttons">
                    <button class="button button-clear button-primary" ng-click="cancelOrder()">ยกเลิก</button>
                </div>-->
                <h1 class="title">คุณอยู่นอกพื้นที่จัดส่ง</h1>
                <!--<div class="buttons">
                    <button class="button button-clear" ng-click="confirm(status)">บันทึก</button>
                </div>-->
            </ion-header-bar>

            <ion-content class="padding">
                <div class="row">
                    <div class="col">
                        <img src="img/123.png" width="100%">
                    </div>
                </div>

                <div class="list">
                    <div class="item item-divider shop-section-title">
                        <span class="title-copy">สรุปราคาสั่งซื้อ</span>
                    </div>
                    <div class="item row padding totals">
                        <div class="col col-50">
                            <div class="row">
                                <div class="col">
                                    ราคาสินค้า
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    ค่าจัดส่ง
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    ส่วนลด
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    ราคารวม
                                </div>
                            </div>
                        </div>
                        <div class="col col-50 totals-numbers text-right">
                            <div class="row">
                                <div class="col">
                                    {{order.amount}} บาท
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{order.deliveryamount}} บาท
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{order.discountpromotion}} บาท
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{order.totalamount}} บาท
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <button class="button button-block button-energized" ng-click="confirm(status)">ยืนยันการสั่งซื้อ</button>
                    </div>
                    <div class="col col-50">
                        <button class="button button-block button-balanced" ng-click="cancelOrder()">ยกเลิก</button>
                    </div>
                </div>


            </ion-content>
        </ion-modal-view>
    </script>

</ion-view>