<ion-view view-title="การสั่งซื้อสำเร็จ" class="checkout-view">
  <ion-content class="margin-top--40">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/success.png">
        <h2>ซื้อสินค้าสำเร็จ!</h2>
        <p>คุณจะได้รับสินค้าภายใน 7 วัน</p>
      </div>
      <div class="item item-body">
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; คุณ <b>{{completeOrder.user.displayName}}</b> ทางเราขอขอบคุณที่ท่านให้ความไว้วางใจในการเลือกซื้อสินค้ากับเรา
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; หมายเลขสั่งซื้อสินค้า <b>{{completeOrder.docno}}</b> ทางเราจะดำเนินการจัดส่งสินค้าไปยังที่อยู่ที่ท่านได้ให้ไว้
          หากท่านพบปัญหาใด ๆ ในระหว่างการสั่งซื้อสินค้า หรือหลังจากที่ท่านได้รับสินค้าแล้ว
        </p>
        <p>
          ท่านสามารถติดต่อเราได้ตามช่องทางดังต่อไปนี้ สำหรับข้อมูลเพิ่มเติม กรุณาติดต่อแผนกบริการลูกค้า โทร: 1234567890 (ทุกวัน 9.00
          - 18.00 น. ยกเว้นวันหยุดพิเศษ) หลังจากเวลาทำการของศูนย์ช่วยเหลือลูกค้า ขอขอบคุณที่ท่านให้ความสนใจและเลือกใช้บริการจากเรา
        </p>
        <p><b>ธรรมธุรกิจ : Thamturakit</b></p>
      </div>
      <div class="row">
        <div class="col col-20"></div>
        <div class="col col-60 text-center">
          <button class="button button-clear button-positive" ui-sref="app.shop.home">
            <p>สั่งซื้อเพิ่มเติม</p>
          </button>
        </div>
        <div class="col col-20"></div>
      </div>
      <div class="list">
        <div class="item item-divider">
          สรุปยอดการสั่งซื้อ <b>{{completeOrder.docno}}</b>
        </div>
        <a class="item item-avatar" ng-repeat="item in completeOrder.items">
          <img ng-src="{{item.product.images}}">
          <h2>{{item.product.name}} (฿{{item.product.price}})</h2>
          <p>{{item.qty}} ชิ้น(฿{{item.amount}})</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>