<ion-view view-title class="product-view" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" ui-sref="app.shop.home">
            <i class="ion-ios-arrow-back color-gray font-30"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon" ui-sref="app.cart()">
            <i class="icon ion-ios-cart" ng-class="{'color-gray' : ('app.product-detail' | includedByState)}">
          <span class="badge badge-assertive badge-cart">{{countProduct.getCountProduct()}}</span>
          </i>
        </a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <div class="product-card-content">
            <div class="item item-image">
                <pre-img helper-class="main-image" ratio="_1_1">
                    <img ng-src="{{product.images}}" spinner-on-load>
                </pre-img>
            </div>
            <div class="item item-body">
                <div class="row">
                    <h2 class="product-title">{{product.name}}</h2>
                </div>
                <div class="row">
                    <div class="col-col-33">
                        <p class="product-price thamma-ore-style">฿{{product.price}}</p>
                    </div>
                </div>
            </div>
            <div class="row item">
                <div class="col col-30">
                    <button class="button button-block button-thamma checkout-btn" ng-click="showAddToCartPopup(product)">ใส่ตะกร้า</button>
                </div>
                <div class="col col-70">
                    <button class="button button-block button-energized checkout-btn" ng-click="showAddToCartPopup(product,true)">สั่งซื้อทันที</button>
                </div>
            </div>
        </div>
        <div class="item item-body" ng-if="product.promotions.length > 0">
            <p class="product-description">โปรโมชั่น</p>            
            <p class="product-description" ng-repeat="promotion in product.promotions">- {{promotion.description}}</p>
        </div>
        <div class="item item-body">
            <p class="product-description">{{product.description}}</p>
        </div>
    </ion-content>
</ion-view>