<!--<style>
    .popover {
        height: 300px;
        width: 350px;
    }
</style>-->
<ion-view view-title="เข้าสู่ระบบเพื่อชำระสินค้า" class="shipping-address-view">
    <ion-nav-buttons side="right">
        <!--<a class="button button-icon" ui-sref="app.shop.cart">
            <i class="icon ion-ios-cart"><span class="badge badge-assertive badge-cart">{{countProduct.getCountProduct()}}</span></i>
        </a>-->
    </ion-nav-buttons>
    <ion-content scroll="true">
        <div class="list" ng-if="step === '1'">
            <ion-list>
                <ion-radio ng-model="choice" ng-value="true">ดำเนินการต่อโดยไม่ต้องใช้รหัสผ่าน</ion-radio>
                <ion-radio ng-model="choice" ng-value="false">ฉันมีบัญชีผู้ใช้อยู่แล้ว</ion-radio>
            </ion-list>
            <div class="margin-top-8" ng-if="choice === true">
                <label class="item item-input">
                    <span class="input-label">เบอร์โทร*</span>
                    <input type="text" ng-model="authentication.username">
                </label>
                <div class="row padding ">
                    <button class="button button-block button-energized checkout-btn" ng-click="gotoForm('2')" ng-disabled="!authentication.username">
                        ดำเนินการต่อ
                    </button>
                </div>
            </div>
            <div class="list margin-top-8" ng-if="choice === false">
                <label class="item item-input">
                    <span class="input-label">ชื่อผู้ใช้</span>
                    <input type="text" ng-model="authentication.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">รหัสผ่าน</span>
                    <input type="password" ng-model="authentication.password">
                </label>
                <div class="row padding">
                    <button class="button button-block button-energized checkout-btn" ng-click="gotoForm('3')" ng-disabled="!authentication.username || !authentication.password">
                        ดำเนินการต่อ
                    </button>
                </div>
            </div>
            <div class="bottom-content row">
                <div class="col col-bottom">
                    <a class="facebook-sign-in button button-block button-facebook" ng-click="loginFacebook()">
            Sign In with Facebook
          </a>
                    <!--<button ng-click="signOutFacebook()">logout by facebook</button>-->
                </div>
            </div>
        </div>
        <div class="list" ng-if="step === '2'">
            <div class="item item-divider shop-section-title">
                <span class="title-copy">ที่อยู่ที่จะจัดส่ง</span>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">ชื่อ</span>
                <input type="text" placeholder="ชื่อ*" ng-model="authentication.firstName">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">นามสกุล</span>
                <input type="text" placeholder="นามสกุล*" ng-model="authentication.lastName">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">รหัสไปรษณีย์</span>
                <!--<input type="text" placeholder="รหัสไปรษณีย์*" ng-model="authentication.address.postcode">-->
                <input type="number" placeholder="รหัสไปรษณีย์*" ng-model="authentication.address.postcode" ionic-autocomplete="{items: postcodes, onSelect: onPostcodeSelected, onDataInvalid: onPostcodeInvalid}" />
            </label>
            <!--<label class="item item-input item-floating-label">
                <span class="input-label">รหัสไปรษณีย์</span>
                <input type="text" autocomplete="false" typeahead="postcode" typeahead-callback="callback" placeholder="รหัสไปรษณีย์*" ng-model="authentication.address.postcode">
            </label>-->
            <label class="item item-input item-floating-label">
                <span class="input-label">แขวง/ตำบล</span>
                <input type="text" placeholder="แขวง/ตำบล*" ng-model="authentication.address.subdistrict">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">เขต/อำเภอ</span>
                <input type="text" placeholder="เขต/อำเภอ*" ng-model="authentication.address.district">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">จังหวัด</span>
                <input type="text" placeholder="จังหวัด*" ng-model="authentication.address.province">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">ที่อยู่</span>
                <input type="text" placeholder="ที่อยู่*" ng-model="authentication.address.address">
            </label>
            <!--<ion-toggle toggle-class="toggle-energized">Use as my default address</ion-toggle>-->
            <div class="row padding">
                <button class="button button-block button-energized save-address-btn" ng-click="gotoForm()" ng-disabled="!authentication.address.address || !authentication.address.province || !authentication.address.district || !authentication.address.postcode || !authentication.lastName || !authentication.firstName">
                    ดำเนินการต่อ
                </button>
            </div>
        </div>
        <div class="list" ng-if="step === '3'">
            <div class="card">
                <div class="item item-text-wrap">
                    <p class="thamma-font">เข้าสู่ระบบเรียบร้อยแล้ว</p>
                </div>
            </div>
            <div class="row padding">
                <button class="button button-block button-energized save-address-btn" ng-click="gotoForm('4')">
                    ดำเนินการต่อ
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>