<ion-view view-title="รายละเอียด" class="shop-popular-view" cache-view="false">
    <ion-nav-buttons side="right">
        <!--<a class="button button-icon" ui-sref="app.shop.cart">
            <i class="icon ion-ios-cart"><span class="badge badge-assertive badge-cart">{{countProduct.getCountProduct()}}</span></i>
        </a>-->
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()">
    </ion-refresher>-->

        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="col">
                        <h2>หมายเลขสั่งซื้อ {{historyById.docno}}</h2>
                        <p>สั่งซื้อเมื่อ {{historyById.docdate | date:'dd MMMM yyyy'}}</p>
                    </div>
                    <!--<div class="col col-25 text-right item-expand-footer" ng-click="showConfirm(historyById)" ng-if="(historyById.deliverystatus === 'confirmed' || historyById.deliverystatus === 'wait deliver' || historyById.deliverystatus === 'reject') && historyById.deliverystatus !== 'cancel'">
                        ยกเลิก <i class="icon ion-ios-close-outline danger-coler-text"></i>
                    </div>-->
                    <!--<div class="col col-25 text-right item-expand-footer" ng-if="historyById.deliverystatus === 'cancel'">
                        ยกเลิกแล้ว</i>
                    </div>-->
                    <!--<div class="col col-25 text-right item-expand-footer" ng-if="historyById.deliverystatus === 'accept'">
                        ดำเนินการ
                    </div>
                    <div class="col col-25 text-right item-expand-footer" ng-if="historyById.deliverystatus === 'complete'">
                        เสร็จสิ้น
                    </div>-->
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-100 item-text-wrap">
                        <p><b>{{historyById.shipping.firstname}} {{historyById.shipping.lastname}}</b></p>
                        <p>{{historyById.shipping.address}} {{historyById.shipping.district}} {{historyById.shipping.subdistrict}} {{historyById.shipping.province}} {{historyById.shipping.postcode}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-100">
                        <h2>{{historyById.totalamount}} บาท</h2>
                        <h2 class="text-not-warp-history">วิธีการชำระเงิน </h2>
                        <p class="text-not-warp-history"> สินค้าข้าวจ่ายเงินสดกับคนส่งข้าว สินค้าอื่นโอนเงินก่อนและส่งใบโอนเงินทาง ไลน์@thamturakit</p>
                        <p class="text-not-warp-history"> ธรรมธุรกิจ เทรดดิ้ง ธ.กรุงเทพ เอกมัย 063-0-368942 ธ.กสิกรไทย จามจุรี สแควร์ 020-1-875609 โอนแล้วแจ้งนะครับ</p>
                    </div>
                </div>
            </div>
            <div class="item" ng-if="historyById.namedeliver">
                <div class="row">
                    <div class="col col-100 item-text-wrap" ng-click="tel('{{historyById.namedeliver.address.tel}}')">
                        <p><b>ผู้จัดส่ง : {{historyById.namedeliver.displayName}}</b></p>
                        <p>โทร : {{historyById.namedeliver.address.tel}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item bg-color-brow">
                <div class="row">
                    <div class="col col-50">
                        <p><b>การจัดส่ง</b></p>
                        <p>{{historyById.items.length}} สินค้า</p>
                    </div>
                    <div class="col col-10">
                        <i class="icon ion-ios-box-outline font-30"></i>
                    </div>
                    <div class="col col-40 item-text-wrap">
                        <p ng-if="historyById.deliverystatus === 'confirmed' || historyById.deliverystatus === 'wait deliver' || historyById.deliverystatus === 'reject'">คุณจะได้รับสินค้าภายใน 7 วัน นับจากวันที่สั่งซื้อ</p>
                        <p ng-if="historyById.deliverystatus === 'accept'">คุณจะได้รับสินค้าภายใน 7 วัน นับจากวันที่สั่งซื้อ</p>
                        <p ng-if="historyById.deliverystatus === 'cancel'">รายการนี้ถูกยกเลิกเรียบร้อยแล้ว</p>
                        <p ng-if="historyById.deliverystatus === 'complete'">ได้รับสินค้าเรียบร้อยแล้ว</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row" ng-if="(historyById.deliverystatus === 'confirmed' || historyById.deliverystatus === 'wait deliver' || historyById.deliverystatus === 'reject') && historyById.deliverystatus !== 'cancel'" ng-click="showConfirm(historyById)">
                    <div class="col col-100 text-center">
                        <h2 class="danger-coler-text">ยกเลิก</h2>
                    </div>
                </div>
                <div class="row" ng-if="(historyById.deliverystatus === 'confirmed' || historyById.deliverystatus === 'wait deliver' || historyById.deliverystatus === 'reject') && historyById.deliverystatus !== 'cancel'" ng-click="showConfirm(historyById)">
                    <div class="col col-100 text-center">
                        <i class="icon ion-ios-close-outline font-30 danger-coler-text text-center"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <p>จัดจำหน่ายและดำเนินการโดย ธรรมธุรกิจ</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <a class="item item-avatar" ng-repeat="item in historyById.items">
                            <img ng-src="{{item.product.images}}">
                            <h2>{{item.product.name}} (฿{{item.product.price}})</h2>
                            <p>{{item.qty}} ชิ้น(฿{{item.amount}})</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <p>สถานะ : {{historyById.deliverystatus === 'accept' ? 'กำลังดำเนินการจัดส่ง' : historyById.deliverystatus === 'complete' ? 'ได้รับสินค้าเรียบร้อยแล้ว' : historyById.deliverystatus === 'cancel' ? 'รายการถูกยกเลิกแล้ว' : 'กำลังดำเนินการ'}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <div class="row">
                    <div class="col col-50">
                        ยอดสุทธิ
                    </div>
                    <div class="col col-50 text-right">
                        {{historyById.amount}} บาท
                    </div>
                </div>
                <div class="row" ng-if="historyById.deliveryamount > 0">
                    <div class="col col-50">
                        ค่าจัดส่ง
                    </div>
                    <div class="col col-50 text-right">
                        {{historyById.deliveryamount}} บาท
                    </div>
                </div>
                <div class="row" ng-if="historyById.discountpromotion > 0">
                    <div class="col col-50">
                        ส่วนลด
                    </div>
                    <div class="col col-50 text-right">
                        {{historyById.discountpromotion}} บาท
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-50">
                        <h2>ราคาสุทธิ</h2>
                    </div>
                    <div class="col col-50 text-right">
                        {{historyById.totalamount}} บาท
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="row shop-products-narrow-cards-outer" ng-if="loggedUser">
            <ion-list>
                <ion-item ng-class="isItemShown(item) ? 'whitesmoke' : ''" class="item item-text-wrap">
                    <div ng-class="item-expand">
                        <p ng-if="historyById.deliverystatus === 'confirmed' || historyById.deliverystatus === 'wait deliver' || historyById.deliverystatus === 'reject'">คุณจะได้รับสินค้าภายใน 7 วัน นับจากวันที่สั่งซื้อ</p>
                        <p ng-if="historyById.deliverystatus === 'accept'">คุณจะได้รับสินค้าภายใน 7 วัน นับจากวันที่สั่งซื้อ</p>
                        <p ng-if="historyById.deliverystatus === 'cancel'">รายการนี้ถูกยกเลิกเรียบร้อยแล้ว</p>
                        <p ng-if="historyById.deliverystatus === 'complete'">ได้รับสินค้าเรียบร้อยแล้ว</p>
                        <p><b>{{historyById.shipping.firstname}} {{historyById.shipping.lastname}}</b></p>
                        <p>{{historyById.shipping.address}} {{historyById.shipping.district}} {{historyById.shipping.subdistrict}}
                            {{historyById.shipping.province}} {{historyById.shipping.postcode}}
                        </p>
                        <p>{{historyById.shipping.tel}}</p>
                        <br>
                        <p>
                            <b>การชำระเงิน : ชำระเงินปลายทางกับคนส่งข้าว</b>
                        </p>
                        <br>
                        <p ng-if="historyById.namedeliver">
                            <b>ผู้ส่ง : {{historyById.namedeliver.displayName}}</b> <br> <b>โทร. {{historyById.namedeliver.address.tel}}</b>
                        </p>
                        <div class="row text-center">
                            <div class="col col-33 padding-0">
                                <h2 class="no-l-background-g">
                                    <span><i class="icon ion-cube font-30 color-icon-status"></i></span>
                                </h2>
                            </div>
                            <div class="col col-33 padding-0">
                                <h2 class="{{historyById.deliverystatus === 'accept' ? 'no-background-g' : historyById.deliverystatus === 'complete' ? 'no-background-g' :'no-background'}}">
                                    <span><i class="icon ion-android-car font-30 {{historyById.deliverystatus === 'accept' ? 'color-icon-status' :historyById.deliverystatus === 'complete' ? 'color-icon-status' : 'color-gray' }}"></i></span>
                                </h2>
                            </div>
                            <div class="col col-33 padding-0">
                                <h2 class="{{historyById.deliverystatus === 'complete' ? 'no-r-background-g' : 'no-r-background'}}">
                                    <span><i class="icon ion-checkmark-circled font-30 {{historyById.deliverystatus === 'complete' ? 'color-icon-status' : 'color-gray' }}"></i></span>
                                </h2>
                            </div>
                        </div>
                        <div class="list">
                            <div class="item item-divider">
                                <p>ประวัติการสั่งซื้อ</p>
                            </div>
                            <a class="item item-avatar" ng-repeat="item in historyById.items">
                                <img ng-src="{{item.product.images}}">
                                <h2>{{item.product.name}} (฿{{item.product.price}})</h2>
                                <p>{{item.qty}} ชิ้น(฿{{item.amount}})</p>
                            </a>
                            <div class="item item-divider">
                                <p>ราคารวม {{historyById.amount}} บาท</p>
                                <p ng-if="item.deliveryamount > 0">ค่าจัดส่ง {{historyById.deliveryamount}} บาท</p>
                                <p ng-if="item.discountpromotion > 0">ส่วนลด {{historyById.discountpromotion}} บาท</p>
                                <p>ราคาสุทธิ {{historyById.totalamount}} บาท</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-expand-footer">
                        <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i> {{ isItemShown(item)
                        ? 'ปิด' : 'เปิด' }}
                    </div>
                    <div class="text-right cancel-coler-text" ng-click="showConfirm(item)" ng-if="(item.deliverystatus === 'confirmed' || item.deliverystatus === 'wait deliver' || item.deliverystatus === 'reject') && item.deliverystatus !== 'cancel'">
                        ยกเลิกรายการ
                    </div>
                    <div class="text-right danger-coler-text" ng-if="historyById.deliverystatus === 'cancel'">
                        รายการถูกยกเลิกแล้ว
                    </div>
                    <div class="text-right cancel-coler-text" ng-if="historyById.deliverystatus === 'complete'">
                        ได้รับสินค้าเรียบร้อยแล้ว
                    </div>
                    <div class="text-right cancel-coler-text" ng-if="historyById.deliverystatus === 'accept'">
                        กำลังดำเนินการจัดส่ง
                    </div>
                </ion-item>
            </ion-list>
        </div>-->
        <!--<div class="row shop-products-narrow-cards-outer" >-->
        <div class="text-center margin-top-20" ng-if="!loggedUser">
            ไม่มีประวัติการสั่งซื้อ
        </div>
        <!--<ion-list>
        <ion-item ng-class="isItemShown(item) ? 'whitesmoke' : ''" ng-repeat="item in history" ng-click="toggleItem(item)" class="item item-text-wrap">
          <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
            <h2>หมายเลขสั่งซื้อ {{item.docno}}</h2>
            <p>{{item.docdate | date:'dd MMMM yyyy'}}</p>
            <p>คุณจะได้รับสินค้าภายใน 7 วัน นับจากวันที่สั่งซื้อ</p>
            <p><b>{{item.shipping.firstname}} {{item.shipping.lastname}}</b></p>
            <p>{{item.shipping.address}} {{item.shipping.district}} {{item.shipping.subdistrict}} {{item.shipping.province}}
              {{item.shipping.postcode}}
            </p>
            <p>{{item.shipping.tel}}</p>
            <div class="row text-center">
              <div class="col col-33 padding-0">
                <h2 class="no-l-background-g">
                  <span><i class="icon ion-cube font-30 color-icon-status"></i></span>
                </h2>
              </div>
              <div class="col col-33 padding-0">
                <h2 class="{{item.deliverystatus === 'accept' ? 'no-background-g' : item.deliverystatus === 'complete' ? 'no-background-g' :'no-background'}}">
                  <span><i class="icon ion-android-car font-30 {{item.deliverystatus === 'accept' ? 'color-icon-status' :item.deliverystatus === 'complete' ? 'color-icon-status' : 'color-gray' }}"></i></span>
                </h2>
              </div>
              <div class="col col-33 padding-0">
                <h2 class="{{item.deliverystatus === 'complete' ? 'no-r-background-g' : 'no-r-background'}}">
                  <span><i class="icon ion-checkmark-circled font-30 {{item.deliverystatus === 'complete' ? 'color-icon-status' : 'color-gray' }}"></i></span>
                </h2>
              </div>
            </div>
            <div class="list">
              <div class="item item-divider">
                <p>ประวัติการสั่งซื้อ</p>
              </div>
              <a class="item item-avatar" ng-repeat="item in item.items">
                <img ng-src="{{item.product.images}}">
                <h2>{{item.product.name}} (฿{{item.product.price}})</h2>
                <p>{{item.qty}} ชิ้น(฿{{item.amount}})</p>
              </a>
              <div class="item item-divider">
                <p>ราคาทั้งหมด {{item.amount}} บาท</p>
              </div>
            </div>
          </div>
          <div class="item-expand-footer">
            <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i> {{ isItemShown(item)
            ? 'ปิด' : 'เปิด' }}
          </div>
        </ion-item>
      </ion-list>-->
        <!--</div>-->
    </ion-content>
</ion-view>