<ion-view view-title="" class="shop-view">
    <ion-tabs class="tabs-icon-top tabs-striped tabs-background-balanced tabs-color-light shop-tabs">
        <ion-tab title="สินค้า" icon-on="ion-android-cart" icon-off="ion-android-cart" ui-sref="app.shop.home">
            <ion-nav-view name="shop-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="ประวัติการสั่งซื้อ" icon-on="ion-document-text" icon-off="ion-document-text" ui-sref="app.shop.popular">
            <ion-nav-view name="shop-popular"></ion-nav-view>
        </ion-tab>
        <ion-tab title="ประวัติส่วนตัว" icon-on="ion-android-contact" icon-off="ion-android-contact" ui-sref="app.shop.sale">
            <ion-nav-view name="shop-sale"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>