<ion-view view-title="สินค้าของฉัน" class="shop-popular-view" cache-view="false">
  <ion-nav-buttons side="right">
    <!--<a class="button button-icon" ui-sref="app.shop.cart">
            <i class="icon ion-ios-cart"><span class="badge badge-assertive badge-cart">{{countProduct.getCountProduct()}}</span></i>
        </a>-->
  </ion-nav-buttons>
  <ion-content overflow-scroll="true">
    <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()">
    </ion-refresher>-->
    <!--<div class="row shop-products-narrow-cards-outer" ng-if="loggedUser">-->
    <div class="list">
      <div class="item" ng-repeat="item in history">
        <div class="row">
          <div class="col col-70" ui-sref="app.shop.historybyid({hisId: item._id})">
            <h2>หมายเลขสั่งซื้อ {{item.docno}}</h2>
            <p>สั่งซื้อเมื่อ {{item.docdate | date:'dd MMMM yyyy'}}</p>
          </div>
          <div class="col col-25 text-right item-expand-footer" ng-click="showConfirm(item)" ng-if="(item.deliverystatus === 'confirmed' || item.deliverystatus === 'wait deliver' || item.deliverystatus === 'reject') && item.deliverystatus !== 'cancel'">
            ยกเลิก <i class="icon ion-ios-close-outline danger-coler-text"></i>
          </div>
          <div class="col col-25 text-right item-expand-footer" ng-if="item.deliverystatus === 'cancel'" ui-sref="app.shop.historybyid({hisId: item._id})">
            ยกเลิกแล้ว
          </div>
          <div class="col col-25 text-right item-expand-footer" ng-if="item.deliverystatus === 'accept'" ui-sref="app.shop.historybyid({hisId: item._id})">
            ดำเนินการ
          </div>
          <div class="col col-25 text-right item-expand-footer" ng-if="item.deliverystatus === 'complete'" ui-sref="app.shop.historybyid({hisId: item._id})">
            เสร็จสิ้น
          </div>
          <div class="col text-right item-expand-footer" ui-sref="app.shop.historybyid({hisId: item._id})">
            <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
        <!--<div class="text-right danger-coler-text" ng-if="item.deliverystatus === 'cancel'">
            รายการถูกยกเลิกแล้ว
          </div>
          <div class="text-right cancel-coler-text" ng-if="item.deliverystatus === 'complete'">
            ได้รับสินค้าเรียบร้อยแล้ว
          </div>
          <div class="text-right cancel-coler-text" ng-if="item.deliverystatus === 'accept'">
            กำลังดำเนินการจัดส่ง
          </div>-->
      </div>

    </div>
    <!--<ion-list>
        <ion-item ng-repeat="item in history" ng-click="toggleItem(item)" class="item item-text-wrap">
          <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
            <h2>หมายเลขสั่งซื้อ {{item.docno}}</h2>
            <p>{{item.docdate | date:'dd MMMM yyyy'}}</p>
            <div class="list">
              <a class="item item-avatar" ng-repeat="item in item.items">
                <img ng-src="{{item.product.images}}">
                <h2>{{item.product.name}} (฿{{item.product.price}})</h2>
                <p>{{item.qty}} ชิ้น(฿{{item.amount}})</p>
              </a>
            </div>
          </div>
          <div class="item-expand-footer">
            ดูรายละเอียด
          </div>
          <div class="text-right danger-coler-text" ng-if="item.deliverystatus === 'cancel'">
            รายการถูกยกเลิกแล้ว
          </div>
          <div class="text-right cancel-coler-text" ng-if="item.deliverystatus === 'complete'">
            ได้รับสินค้าเรียบร้อยแล้ว
          </div>
          <div class="text-right cancel-coler-text" ng-if="item.deliverystatus === 'accept'">
            กำลังดำเนินการจัดส่ง
          </div>
        </ion-item>
      </ion-list>-->
    <!--</div>-->
    <!--<div class="row shop-products-narrow-cards-outer" >-->
    <div class="text-center margin-top-20" ng-if="!loggedUser">
      ไม่มีประวัติการสั่งซื้อ
    </div>
    <!--<ion-list>
        <ion-item ng-class="isItemShown(item) ? 'whitesmoke' : ''" ng-repeat="item in history" ng-click="toggleItem(item)" class="item item-text-wrap">
          <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
            <h2>หมายเลขสั่งซื้อ {{item.docno}}</h2>
            <p>{{item.docdate | date:'dd MMMM yyyy'}}</p>
            <p>คุณจะได้รับสินค้าภายใน 7 วัน นับจากวันที่สั่งซื้อ</p>
            <p><b>{{item.shipping.firstname}} {{item.shipping.lastname}}</b></p>
            <p>{{item.shipping.address}} {{item.shipping.district}} {{item.shipping.subdistrict}} {{item.shipping.province}}
              {{item.shipping.postcode}}
            </p>
            <p>{{item.shipping.tel}}</p>
            <div class="row text-center">
              <div class="col col-33 padding-0">
                <h2 class="no-l-background-g">
                  <span><i class="icon ion-cube font-30 color-icon-status"></i></span>
                </h2>
              </div>
              <div class="col col-33 padding-0">
                <h2 class="{{item.deliverystatus === 'accept' ? 'no-background-g' : item.deliverystatus === 'complete' ? 'no-background-g' :'no-background'}}">
                  <span><i class="icon ion-android-car font-30 {{item.deliverystatus === 'accept' ? 'color-icon-status' :item.deliverystatus === 'complete' ? 'color-icon-status' : 'color-gray' }}"></i></span>
                </h2>
              </div>
              <div class="col col-33 padding-0">
                <h2 class="{{item.deliverystatus === 'complete' ? 'no-r-background-g' : 'no-r-background'}}">
                  <span><i class="icon ion-checkmark-circled font-30 {{item.deliverystatus === 'complete' ? 'color-icon-status' : 'color-gray' }}"></i></span>
                </h2>
              </div>
            </div>
            <div class="list">
              <div class="item item-divider">
                <p>ประวัติการสั่งซื้อ</p>
              </div>
              <a class="item item-avatar" ng-repeat="item in item.items">
                <img ng-src="{{item.product.images}}">
                <h2>{{item.product.name}} (฿{{item.product.price}})</h2>
                <p>{{item.qty}} ชิ้น(฿{{item.amount}})</p>
              </a>
              <div class="item item-divider">
                <p>ราคาทั้งหมด {{item.amount}} บาท</p>
              </div>
            </div>
          </div>
          <div class="item-expand-footer">
            <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i> {{ isItemShown(item)
            ? 'ปิด' : 'เปิด' }}
          </div>
        </ion-item>
      </ion-list>-->
    <!--</div>-->
  </ion-content>
</ion-view>