<ion-view view-title="ประวัติส่วนตัว" class="shop-sale-view">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()">
    </ion-refresher>
    <div class="list" ng-if="user">
      <a class="item item-icon-left" ui-sref="app.chat">
        <i class="icon ion-ios-chatbubble-outline"></i> สนทนา
      </a>
      <a class="item item-icon-left" ui-sref="app.edit-profile">
        <i class="icon ion-ios-person-outline"></i> แก้ไขโปรไฟล์
      </a>
      <!--<a class="item item-icon-left" href="#" ng-disabled="true">
                        <i class="icon ion-ios-reverse-camera"></i> เปลี่ยนรูปโปรไฟล์
                    </a> -->
      <a class="item item-icon-left" ui-sref="app.change-password">
        <i class="icon ion-ios-reverse-camera-outline"></i> เปลี่ยนรูปโปรไฟล์
      </a>
      <a class="item item-icon-left" ui-sref="app.locations">
        <i class="icon ion-ios-flag-outline"></i> ยืนยันตำแหน่งที่ตั้ง
      </a>
      <a class="item item-icon-left settings-option" ng-click="signout()">
        <i class="icon ion-ios-close-outline"></i> ลงชื่อออก
      </a>
    </div>
    <div class="list" ng-if="!user">
      <!--<a class="item item-icon-left" ui-sref="app.edit-profile">
        <i class="icon ion-ios-person-outline"></i> เข้าสู่ระบบ
      </a>-->
    </div>
  </ion-content>
</ion-view>